body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #23282d;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

button {
    background-color: #0085ba;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #006799;
}

.flash-message {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 3px;
    text-align: center;
}

.flash-message.error {
    background-color: #ffebe8;
    border: 1px solid #c00;
    color: #c00;
}
